RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^(www\.)?fineract.incubator.apache.org$
RewriteRule ^/?(.*)$ https://fineract.apache.org/$1 [L,R=301]

# so rendered asciidoc can find fonts
RewriteRule ^fonts/(fontawesome.+)$ docs/database/bower/font-awesome/fonts/$1 [L]

RewriteRule ^docs/current(.*)$ docs/1.12.1$1 [L]

# candidate for next release
RewriteRule ^docs/rc(.*)$ docs/1.13.0$1 [L]

ErrorDocument 404 /404.html
